POSTGRES_DB=logistica
POSTGRES_USER=logistica
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_PORT=5432
API_PORT=8000
FRONTEND_PORT=3000
BASE_FUEL_PRICE_PER_LITER=6.00
VEHICLE_CATALOG_CSV_URL=https://docs.google.com/spreadsheets/d/1J8YAtNSqD0se5pJVzgBDnggN7lKF37HPnQlbqL9vSOw/gviz/tq?tqx=out:csv&gid=521676479
CATALOG_SYNC_INTERVAL_SECONDS=3600
